* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway";
}

.white-layout {
  width: 100%;
  height: 500px;
}

#content {
  position: absolute;
  left: 20%;
  top: 30%;
}

.white-layout h1 {
  font-weight: 300;
  margin-bottom: 15px;
  color: rgb(99, 99, 99);
}

.white-layout p {
  width: 400px;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  color: grey;
}

button {
  padding: 10px 25px;
  margin: 15px 0;
  border-radius: 50px;
  border: none;
  text-transform: uppercase;
  background-color: deepskyblue;
  color: white;
  transition: all 0.5s ease-in;
}

button:hover {
  background-color: #159e82;
}

.mobile {
  position: absolute;
  left: 57%;
  top: 10%;
  width: auto;
  height: 500px;
}

.image-container {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 505px;
  overflow: hidden;
  object-fit: cover;
  color: white;
  text-align: center;
  line-height: 20px;
  font-weight: 200;
}

.back-img {
  height: auto;
  width: 100%;
}

.para {
  position: relative;
  left: 12%;
  top: 40%;
  width: 300px;
}

.percentage {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 40px;
  color: #45d4b8;
}

.title-head {
  margin-bottom: 10px;
  font-weight: 350;
  font-size: 24px;
}

.para1 {
  position: relative;
  left: 37%;
  top: 18%;
  width: 300px;
}

.para2 {
  position: relative;
  left: 63%;
  top: -4%;
  width: 300px;
}

.white-card {
  width: 100%;
  height: 500px;
  text-align: center;
}

.para4 {
  font-size: 18px;
  width: 50%;
  text-align: center;
  line-height: 24px;
  position: relative;
  top: 140px;
  left: 24%;
  color: grey;
}

.mission {
  text-align: center;
  font-weight: 300;
  font-size: 40px;
  padding-bottom: 15px;
  position: relative;
  top: 140px;
  color: rgb(73, 73, 73);
}

.visit {
  position: relative;
  top: 140px;
}

.section3 {
  background-image: url("background.jpg");
  width: 100%;
  height: 900px;
  background-repeat: no-repeat;
}

.text {
  text-align: center;
  color: white;
  position: relative;
  top: 300px;
}

.text h3 {
  font-size: 40px;
  font-weight: 300;
}

.text p {
  line-height: 23px;
  text-align: center;
  margin-top: 10px;
}

.input-img {
  display: inline-block;
  width: 400px;
  height: 210px;
  background-color: transparent;
  border: 10px dashed white;
  border-width: 3px;
  border-radius: 10px;
  margin: 70px 50px;
}

input {
  display: none;
}

label p {
  text-transform: uppercase;
  font-size: 30px;
  padding-top: 80px;
}


.link a{
  color: white;
}